body{
  font-family: 'PT Sans', sans-serif;
  margin-top: 0px;
}

header {
    background-color: #7cadef;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0px;
    padding-top: 20px;
}

footer
 {
    background-color: #7cadef;
    margin-top: 20px;
    margin-left: -10px;
    margin-bottom: -10px;
}

h1 {
  font-family: 'Neucha', cursive;
  font-size: 60px;
  letter-spacing: 7px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  display: inline;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;

}

h5 {
  font-family: 'PT Sans', cursive;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  display: inline;
}

h6 {
  font-family: 'Neucha', cursive;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  display: inline;
}

td {
    padding-top: 15px;
    padding-right: 10px;
    vertical-align: top;
}

button
{
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  background-color: #7cadef;
  border-radius: 10px;
  border-width: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

#input
{
  margin-top: 0px;
}

#operationsChoice
{
  font-weight: bold;
}

#complexityTable
{
  border: 2px solid black;
  margin-top: 0;
  padding-top: 0;
  font-size:16px;
}

#printSettings
{
  font-size:16px;
}

#advancedComplexity
{
  margin-top: 20px;
}

#buttons
{
  align-content: center;
}

#lang
{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  position:absolute;
  right: 20px;
  top: 20px;
}

img
{
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}

select {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: #7cadef;
}

select.icon-menu option {
background-repeat:no-repeat;
background-position:bottom left;
padding-left:30px;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-family: 'Neucha' bold;
    font-size: 14px;
    border: 2px solid black;
    padding-right: 6px;
    padding-left: 6px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #eee;
    width: 300px;
    color: #000;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    font-family: 'PT Sans';
    font-size: 18px;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
