body{
  font-family: 'PT Sans', sans-serif;
  margin-top: 0px;
}

header {
    background-color: #7cadef;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 0px;
    padding-top: 20px;
}

h1 {
  font-family: 'Neucha', cursive;
  font-size: 60px;
  letter-spacing: 7px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  display: inline;
}

td {
    padding: 15px;
    vertical-align: top;
}



button
{
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  background-color: #7cadef;
  border-radius: 10px;
  border-width: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ol {
   list-style-type: none;
   counter-reset:  item;
  }
  li:before {
   content: counter(item) '). ';
   counter-increment: item;
  }

#input
{
  margin-top: 0px;
}

#operationsChoice
{
  font-weight: bold;
}

#complexityTable
{
  border: 2px solid black;
}

#complexityRange
{
  width: 100%;
}

.answer
{
  text-decoration: underline;
  font-family: 'Indie Flower', cursive;
  display: inline;
  font-size: 30px;
}

input[type=range] {
  height: 56px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 75%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #CDCDCD;
  border-radius: 22px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background: #B8B8B8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #CDCDCD;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #CDCDCD;
  border-radius: 22px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background: #B8B8B8;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #CDCDCD;
  border: 0px solid #010101;
  border-radius: 44px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #CDCDCD;
  border: 0px solid #010101;
  border-radius: 44px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background: #B8B8B8;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #CDCDCD;
}
input[type=range]:focus::-ms-fill-upper {
  background: #CDCDCD;
}

#buttons
{
  align-content: center;
}
