/** FOOTER **/

/* .Footer {
    display: none;
}

@media (min-width: 768px) {*/
.Footer {
    display: block;
    position: absolute;
    background-color: #7cadef;
    font-weight: bold;
    font-size: var(--subHeaderFontSize);
    width: 100%;
    height: var(--footerHeight);
    bottom: 0;
    align-items: center;
}

/* } */
