/** FOOTER **/

.Footer {
    display: none;
}

@media (min-width: 768px) {
    .Footer {
        display: block;
        position: absolute;
        background-color: #7cadef;
        font-weight: bold;
        width: 100%;
        height: var(--footerHeight);
        bottom: 0;
        align-items: center;
    }
}

.copyright {
    font-family: "Neucha";
    font-size: calc(0.5 * var(--printTextHeight));
    color: #cbcbcb;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    bottom:0;
    right: 0;
}