.app {
    height: 100vh;
    width: 100vw;
}

:root {
    --headerHeight: 8vh;
    --subHeaderHeight: 6vh;
    --footerHeight: 4vh;
    --settingsWidth: 20vw;
    --settingsHeight: 30vh;
    --puzzleAmount: 3;
    --mainAreaHeight: calc(100vh - var(--headerHeight) - var(--footerHeight));
}

@media print {
    @page {
        size: landscape;
    }
}

@font-face {
    font-family: 'PT Sans';
    src: url('../../fonts/PT_Sans/PT_Sans-Web-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Neucha';
    src: url('../../fonts/Neucha/Neucha.ttf') format('truetype');
}

@font-face {
    font-family: 'Courgette';
    src: url('../../fonts/Courgette/Courgette-Regular.ttf') format('truetype');
}

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7cadef;
    font-size: 2.5vh;
    font-family: "Neucha";
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--headerHeight);
}

.headerWrapper {
    padding: 1vh;
    text-decoration: none;
}

.headerWrapper:visited {
    color: black;
}

.languages {
    font-size: 1.2vh;
    display: flex;
    flex-direction: row;
    letter-spacing: 2px;
}

.language {
    margin-right: 10px;
    font-weight: normal;
}

.selectedLanguage {
    margin-right: 10px;
    font-weight: bold;
}

.puzzles {
    height: var(--mainAreaHeight);
}

.puzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    height: calc(var(--mainAreaHeight) / var(--puzzleAmount));
}

.puzzleBar {
    background-color: #a4c7f4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: var(--subHeaderHeight);
}

.Footer {
    position: absolute;
    background-color: #7cadef;
    font-weight: bold;
    width: 100%;
    height: var(--footerHeight);
    bottom: 0;
    align-items: center;
}

.thumbnail {
    height: calc((var(--mainAreaHeight) - var(--puzzleAmount) * var(--subHeaderHeight)) / var(--puzzleAmount));
}

@media only screen and (min-width: 600px) {

}

.puzzleName {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.puzzleName:visited {
    text-decoration: none;
    color: black;
}

.puzzleNameText {
    background-color: #a4c7f4;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: var(--subHeaderHeight);
    line-height: var(--subHeaderHeight);
    width: 100vw;
    text-decoration: none;
    color: black;
    margin: 0;
}

.puzzleNameBar {
    background-color: #a4c7f4;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.puzzleNameBar:visited {
    text-decoration: none;
    color: black;
}

.selectedPuzzleNameBar {
    background-color: #1574ef;
}

.printPreviewContainer {
    display: flex;
    flex-direction: column;
    width: 290mm;
    height: 210mm;
    border: 1px solid red;
}

.printHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.printPuzzle {
    display: flex;
    flex: 1;
    border: 1px solid magenta;
}

.printTitle {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 10px;
    font-family: "Neucha";
}

.nameDate {
    font-family: "Neucha";
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nameDateLine {
    margin: 5px;
}

.copyright {
    font-family: "Neucha";
    font-size: 20px;
    color: #cbcbcb;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
}

.settings {
    background-color: #ef7c97;
    height: var(--settingsHeight);
    width: 100vw;
}

.printPreview {
    background-color: #808283;
    height: calc(100vh - var(--headerHeight) - var(--subHeaderHeight) - var(--settingsHeight) - var(--footerHeight));
    min-width: 290px;
    overflow-x: scroll;
}
