.app {
    height: 100vh;
    width: 100vw;
}

/* if you change things here, also change canvasHeight calculation for print pages */
:root {
    --headerHeight: 8vh;
    --subHeaderHeight: 6vh;
    --footerHeight: 4vh;
    --settingsWidth: 20vw;
    --settingsHeight: 30vh;
    --puzzleAmount: 3;
    --mainAreaHeight: calc(100vh - var(--headerHeight) - var(--footerHeight));
    --subHeaderFontSize: 2vh;
    --printHeight: 210mm;
    --printWidth: 290mm;
    --printHeaderHeight: 10mm;
    --printTextHeight: 6mm;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

@media print {
    @page {
        size: landscape;
    }
}

@font-face {
    font-family: 'PT Sans';
    src: url('../../fonts/PT_Sans/PT_Sans-Web-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Neucha';
    src: url('../../fonts/Neucha/Neucha.ttf') format('truetype');
}

@font-face {
    font-family: 'Courgette';
    src: url('../../fonts/Courgette/Courgette-Regular.ttf') format('truetype');
}

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/** SUBHEADER **/
.puzzleBar {
    background-color: #a4c7f4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: var(--subHeaderHeight);
}

.puzzleNameBar {
    background-color: #a4c7f4;
    font-size: var(--subHeaderFontSize);
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puzzleNameBar:visited {
    text-decoration: none;
    color: black;
}

.selectedPuzzleNameBar {
    background-color: #a4c7f4;
    font-size: calc(var(--subHeaderFontSize) + 0.5vh);
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** ROOT PAGE WITH PUZZLE LIST **/
.puzzles {
    height: var(--mainAreaHeight);
}

@media only screen and (min-width: 768px) {
    .puzzles {
        display: flex;
        flex-direction: row;
        width: 100vw;
        margin-top: 1vh;
        justify-content: space-around;
    }
}

.puzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    height: calc(var(--mainAreaHeight) / var(--puzzleAmount));
}

@media only screen and (min-width: 768px) {
    .puzzle {
        width: calc(100vw / var(--puzzleAmount) - 5vw);
        height: calc(100vw / var(--puzzleAmount) - 5vw);
    }
}

.thumbnail {
    height: calc((var(--mainAreaHeight) - var(--puzzleAmount) * var(--subHeaderHeight)) / var(--puzzleAmount));
}


@media only screen and (min-width: 768px) {
    .thumbnail {
        width: calc(100vw / var(--puzzleAmount) - 10vw);
        height: calc(100vw / var(--puzzleAmount) - 10vw);
    }
}


.puzzleName {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.puzzleName:visited {
    text-decoration: none;
    color: black;
}

.puzzleNameText {
    background-color: #a4c7f4;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: var(--subHeaderHeight);
    line-height: var(--subHeaderHeight);
    width: 100vw;
    text-decoration: none;
    color: black;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .puzzleNameText {
        width: calc(100vw / var(--puzzleAmount) - 5vw);
    }
}


/* INDIVIDUAL PUZZLE PAGE LAYOUT */

.settings {
    height: var(--settingsHeight);
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: var(--subHeaderFontSize);
}

.printPreview {
    border: 2px ridge #808283;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    position: relative;
    width: 90vw;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.printPreviewPrint {
    composes: printPreview;
    height: 270mm;
    border: 0;
}
