
.secretMessageInput {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    text-transform:uppercase;
    margin: 10px;
    padding: 5px;
    border: 1px solid #888;
    outline: none;
    width: calc(var(--settingsWidth) - 20px);
    resize: none;
}

.borderedSecretMessageInput {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    text-transform:uppercase;
    margin: 10px;
    padding: 5px;
    border: 1px solid red;
    outline: none;
    width: calc(var(--settingsWidth) - 20px);
    resize: none;
}

.errorMessage {
    margin: 10px;
    font-size: 14px;
    color: red;
}

.countMessage {
    margin: 10px;
    font-size: 14px;
}

.printSecretCode {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px;
}
.secretCodeDescription {
    margin: 10px 20px;
}
.codeWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 20px;
}

.codeKey {
    font-weight: bold;
    margin: 0 10px 0 0;
}

.codeLetter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 20px 10px 0;
    font-size: 12px;
}

.letterPlaceHolder {
    border: 1px solid gray;
    min-width: 30px;
    max-height: 30px;
    width: calc((100vw - var(--settingsWidth))/17 - 20px);
    height: calc((100vh - var(--headerHeight) - var(--subHeaderHeight))/8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courgette';
    font-size: calc((100vw - var(--settingsWidth))/17 - 30px);
}
