.secrectCodePrint {
   display: flex;
    flex-direction: row;
}

.choiceContainer {
    display: flex;
    flex-direction: row;
    font-size: var(--subHeaderFontSize);
}

.messageInputContainer {
    display: flex;
    flex-direction: column;
    font-size: var(--subHeaderFontSize);
}

.secretMessageInput {
    font-family: 'PT Sans', sans-serif;
    font-size: var(--subHeaderFontSize);
    text-transform: uppercase;
    border: 1px solid #888;
    outline: none;
    resize: none;
    width: 90%;
    margin: 0 10px;
}

.borderedSecretMessageInput {
    font-family: 'PT Sans', sans-serif;
    font-size: var(--subHeaderFontSize);
    text-transform: uppercase;
    outline: none;
    resize: none;
    width: 90%;
    margin: 0 10px;
    border: 1px solid red;
}

.errorMessage {
    margin: 10px;
    font-size: 14px;
    color: red;
    display: none;
}

.countMessage {
    margin: 10px;
    font-size: 14px;
    display: none;
}

.printSecretCode {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px;
}

.secretCodeDescription {
    margin: 1vh;
    font-size: calc(0.8 * var(--subHeaderFontSize));
}

.secretCodeDescriptionText {
    margin: 0 10px;
}

.codeWrapper {
    display: flex;
    flex-direction: column;
    margin: 1vh;
    width: 200vw;
}

.codeRow {
    display: flex;
    flex-direction: row;
}

.codeKey {
    font-weight: bold;
    font-size: var(--subHeaderFontSize);
    margin: 0 10px 0 0;
}

.codeLetter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4vh;
    margin: 1vh 1.2vh 1vh 0;
    font-size: calc(0.5 * var(--subHeaderFontSize));
}

.codeLetterPrint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5vh 1.2vh 0.5vh 0;
    font-size: calc(0.3 * var(--subHeaderFontSize));
}

.letterPlaceHolder {
    border: 1px solid gray;
    width: 4vh;
    height: 5vh;
    font-size: 6vh;
}

.letterPlaceHolderPrint {
    border: 1px solid gray;
    width: 4vh;
    height: 3vh;
    font-size: 3vh;
}


.codeKey {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vh;
}

.secrectCodeTable {
    width: fit-content;
}

.secretCodeMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--mainAreaHeight) - var(--headerHeight) - var(--subHeaderHeight) - var(--settingsHeight));
}