<table><tr><td width="500"><div id="input">
  <p>{{'generatorDescription' | translate }}</p>
  <div id="easyComplexity"><h5>{{'easyComplexity' | translate}}</h5><br>
  <input type="radio"
                ng-model="mapController.easyComplexity" value="1"
                ng-change="mapController.changeComplexity()">
                {{'easyComplexityEasy' | translate}}
              <div class="tooltip" ng-mouseover="">?
              <p class="tooltiptext">{{'easyComplexityEasyTooltip' | translate}}</p></div>
     <input type="radio"
                ng-model="mapController.easyComplexity" value="2"
                ng-change="mapController.changeComplexity()">
                {{'easyComplexityMedium' | translate}}
                <div class="tooltip" ng-mouseover="">?
                <p class="tooltiptext">{{'easyComplexityMediumTooltip' | translate}}</p></div>
      <input type="radio"
                ng-model="mapController.easyComplexity" value="3"
                ng-change="mapController.changeComplexity()"> {{'easyComplexityHard' | translate}} <div class="tooltip" ng-mouseover="">?
                <p class="tooltiptext">{{'easyComplexityHardTooltip' | translate}}</p></div>

      <input type="radio" ng-model="mapController.easyComplexity" value="100"
      ng-change="mapController.changeComplexity()">{{'advancedComplexity' | translate}}</div>
  <div id="advancedComplexity" ng-show="mapController.easyComplexity==='100'">
  <table id="complexityTable"><tr>
    <td><h5>{{'numberComplexity' | translate}}</h5>
        <p><input type="radio" ng-model="mapController.advancedComplexity.complexity" ng-change="mapController.changeComplexity()" value="10">0-10</p>
        <p><input type="radio" ng-model="mapController.advancedComplexity.complexity" ng-change="mapController.changeComplexity()" value="25">0-25</p></td>
        <td><div id="equationsAmountChoice"><h5>{{'equationsAmount' | translate}}</h5>
          <p><input type="radio" ng-model="mapController.advancedComplexity.equationsAmount" value="6">6</p>
          <p><input type="radio" ng-model="mapController.advancedComplexity.equationsAmount" value="8">8</p>
          <p><input type="radio"ng-model="mapController.advancedComplexity.equationsAmount" value="10">10</p>
        </div></td>
  <td><h5>{{'operations' | translate}}</h5>
  <div id="operationsChoice" ng-repeat="operation in mapController.advancedComplexity.operations">
      <p><input type="checkbox" ng-change="mapController.alterOperations()"
       value="{{operation.code}}" ng-model="operation.selected" > {{operation.value}} </p>
    </div></td></tr> <tr></table></td></tr></div>
    <tr><td colspan="4"></td></tr>
    <tr><td><br><button ng-click="mapController.createEquations()" ng-disabled="!mapController.generationAllowed">{{'getMap' | translate}}</button></td></tr></table></div>
    <div id="errorMessage">
      {{mapController.errorMessage}}
    </div>
  </td>
<td ><div style='padding:0px;margin:0px;' id="output" ng-show="mapController.equations.length!==0">
      <table><tr><td><div id="treasureMapC"></div></td>
        <td><div id="printSettings" width="100%"><br><h4>{{'settings' | translate}}</h4>
          <div id="pageOrientationSettings" ng-show="false"><p><h5>{{'pageOrientationDesc' | translate}}: </h5></p>
          <p><input type="radio" ng-model="mapController.generationOptions.pageOrientation" value="landscape">{{'pageOrientationLandscape' | translate}} <input type="radio" ng-model="mapController.generationOptions.pageOrientation" value="portrait">{{'pageOrientationPortrait' | translate}}</p></div>
          <p><input type="checkbox" ng-model="mapController.generationOptions.answerGeneration" > {{'answerGeneration' | translate}}</p>
          <p><input type="checkbox" ng-model="mapController.generationOptions.nameDate" > {{'nameDate' | translate}}</p></div>
          <div id="buttons"><button ng-click="mapController.print()">{{'save' | translate}}</button><br><br>
    <button ng-click="mapController.reset()">{{'reset' | translate}}</button></div>
  </td></tr></table>

  </div>


</td></table>
