<div class="rowView" ng-init="mapController.createEquations()">
  <div>
    <div class="paddedView"><h4>{{'easyComplexity' | translate}}</h4></div>
    <div class="complexityItem">
      <input type="radio"
                ng-model="mapController.easyComplexity" value="1"
                ng-change="mapController.changeComplexity()">
                {{'easyComplexityEasy' | translate}}
              <div class="tooltip" ng-mouseover="">?
                <p class="tooltiptext">{{'easyComplexityEasyTooltip' | translate}}</p>
             </div>
     </div>

     <div class="complexityItem">
      <input type="radio"
               ng-model="mapController.easyComplexity" value="2"
               ng-change="mapController.changeComplexity()">
               {{'easyComplexityMedium' | translate}}
               <div class="tooltip" ng-mouseover="">?
                 <p class="tooltiptext">{{'easyComplexityMediumTooltip' | translate}}</p>
             </div>
     </div>

     <div class="complexityItem">
       <input type="radio"
               ng-model="mapController.easyComplexity" value="3"
               ng-change="mapController.changeComplexity()"> {{'easyComplexityHard' | translate}}
               <div class="tooltip" ng-mouseover="">?
                 <p class="tooltiptext">{{'easyComplexityHardTooltip' | translate}}</p>
             </div>
     </div>

     <div class="complexityItem">
       <input type="radio" ng-model="mapController.easyComplexity" value="100"
           ng-change="mapController.changeComplexity()">{{'advancedComplexity' | translate}}
    </div>

    <div id="advancedComplexity" ng-show="mapController.easyComplexity==='100'">
      <table id="complexityTable"><tr>
        <td><h5>{{'numberComplexity' | translate}}</h5><br>
          <p><input type="radio" ng-model="mapController.advancedComplexity.complexity" ng-change="mapController.changeComplexity()" value="10">0-10</p><br>
          <p><input type="radio" ng-model="mapController.advancedComplexity.complexity" ng-change="mapController.changeComplexity()" value="25">0-25</p><br>
        </td>
        <td><div id="equationsAmountChoice"><h5>{{'equationsAmount' | translate}}</h5><br>
              <p><input type="radio" ng-model="mapController.advancedComplexity.equationsAmount" value="6">6</p><br>
              <p><input type="radio" ng-model="mapController.advancedComplexity.equationsAmount" value="8">8</p><br>
              <p><input type="radio"ng-model="mapController.advancedComplexity.equationsAmount" value="10">10</p><br>
            </div>
        </td>
        <td><h5>{{'operations' | translate}}</h5><br>
          <div id="operationsChoice" ng-repeat="operation in mapController.advancedComplexity.operations">
            <p><input type="checkbox" ng-change="mapController.alterOperations()"
              value="{{operation.code}}" ng-model="operation.selected" > {{operation.value}} </p><br>
            </div>
          </td>
        </tr>
        <tr>
        </table>
   </div>

   <div class="paddedView"><button ng-click="mapController.createEquations()">{{'reset' | translate}}</button></div>
    <div id="printSettings"><div class="paddedView"><h4>{{'settings' | translate}}</h4></div>
     <input type="checkbox" ng-model="mapController.generationOptions.answerGeneration" > {{'answerGeneration' | translate}}
     <input type="checkbox" ng-model="mapController.generationOptions.nameDate" > {{'nameDate' | translate}}
   </div>

    <div class="paddedView"><button ng-click="mapController.print()">{{'save' | translate}}</button></div><br>
    </div>
    <div id="output" ng-show="mapController.equations.length!==0">
          <div id="treasureMapC">
          </div>
    </div>

</div>
