.printPageText {
    display: inline-block;
    float: none;
    font-size: calc(0.8 * var(--subHeaderFontSize));
    margin-left: 20px;
    margin-right: 20px;
}

.printPageTextPrint {
    display: inline-block;
    float: none;
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (min-width: 1200px) {
    .printPageText {
        font-size: var(--subHeaderFontSize);
    }
}

.printPageAnswer {
    margin: 20px 0 0 0;
}


.printEquation {
    margin: 4px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.equationText {
    margin: 0 5px 0 0;
}

.equationAnswerText {
    margin: 0 5px 0 0;
    font-family: 'Courgette';
    text-decoration: underline;
}



