.main {
    display: flex;
    flex-direction: row;
}

.settings {
    display: flex;
    flex-direction: column;
    width: var(--settingsWidth);
}

.canvasWrapper {
    display: flex;
    width: calc(100vw - var(--settingsWidth));
    height: calc(100vh - var(--headerHeight) - var(--subHeaderHeight) - var(--footerHeight));
    border: 1px solid red;
}

.hidden {
    display: none;
}
