<div class="rowView" ng-init="secretCodeController.initialCode()" >
  <div class="paddedView">
    <h4>{{ 'enterMessage' | translate }}:</h4>
    <input class="secretCodeInput" type="text"
    ng-model="secretCodeController.messageStr"
    ng-change="secretCodeController.checkMessage()">
    <nobr><h5>{{ 'messageLength' | translate }}: {{secretCodeController.messageStr.length}}</h5></nobr><br>
    <nobr><h5>{{ 'symbolsInStringMessage' | translate }}: {{secretCodeController.symbolsCount}}</h5></nobr>
    <div id="complexitySettings">

      <div class="paddedView"><h4>{{'availableComplexity'| translate}}</h4>
        <div class="paddedView font16" ng-disabled="(secretCodeController.symbolsCount<=1)||(secretCodeController.symbolsCount>50)" ng-show="secretCodeController.symbolsCount<=10"><input type="radio" ng-model="secretCodeController.complexity" value="10">0-10</div>
        <div class="paddedView font16" ng-disabled="(secretCodeController.symbolsCount<=1)||(secretCodeController.symbolsCount>50)" ng-show="secretCodeController.symbolsCount<=25"><input type="radio"  ng-model="secretCodeController.complexity" value="25">0-25</div>
        <div class="paddedView font16" ng-disabled="(secretCodeController.symbolsCount<=1)||(secretCodeController.symbolsCount>50)" ng-show="secretCodeController.symbolsCount<=100"><input type="radio" ng-model="secretCodeController.complexity" value="100">0-100</div>
      </div>
    <div><h4>{{'operations' | translate}}</h4>
      <div id="operationsChoice" ng-repeat="operation in secretCodeController.operations">
          <p ng-disabled="(secretCodeController.symbolsCount<=1)||(secretCodeController.symbolsCount>50)" ng-show="operation.available"><input type="checkbox" ng-change="secretCodeController.alterOperations()"
            value="{{operation.code}}" ng-model="operation.selected" > {{operation.value}} </p>
          </div>
      </div>
    </div>
    <div id="errorMessage">{{secretCodeController.errorMessage}}</div>

    <div id="printSettings"><div><h4>{{'settings' | translate}}</h4></div>
     <input type="checkbox" ng-model="secretCodeController.generationOptions.answerGeneration" > {{'answerGeneration' | translate}}
     <input type="checkbox" ng-model="secretCodeController.generationOptions.nameDate" > {{'nameDate' | translate}}
   </div>

        <div class="paddedView" id="printButtons">
          <button ng-click="secretCodeController.createLetterCodes()" ng-disabled="!secretCodeController.generationEnabled">{{'reset' | translate}}</button>
          <button ng-click="secretCodeController.print()">{{'save' | translate}}</button>
        </div>
  </div>

<div id="output" ng-show="secretCodeController.equations.length!==0">

    <div id="secretCodeC"></div>
</div>
