<table><tr><td width="600"><div id="input" >
  <p>{{'secretCodeDesc' | translate }}</p>
  <p>{{ 'enterMessage' | translate }}: <input class="secretCodeInput" type="text"
    ng-model="secretCodeController.messageStr"
    ng-change="secretCodeController.checkMessage()"></p>
    <div id="errorMessage">{{secretCodeController.errorMessage}}</div>
  <div id="complexitySettings"><table> <tr>
  <td><nobr><h5>{{ 'messageLength' | translate }}:</h5> {{secretCodeController.messageStr.length}}</nobr><br>
  <nobr><h5>{{ 'symbolsInStringMessage' | translate }}:</h5> {{secretCodeController.symbolsCount}}<nobr></td>
  <td>
    <div><h5>{{'availableComplexity'| translate}}</h5>
    <p ng-disabled="(secretCodeController.symbolsCount<=1)||(secretCodeController.symbolsCount>50)" ng-show="secretCodeController.symbolsCount<=10"><input type="radio" ng-model="secretCodeController.complexity" value="10">0-10</p>
    <p ng-disabled="(secretCodeController.symbolsCount<=1)||(secretCodeController.symbolsCount>50)" ng-show="secretCodeController.symbolsCount<=25"><input type="radio"  ng-model="secretCodeController.complexity" value="25">0-25</p>
    <p ng-disabled="(secretCodeController.symbolsCount<=1)||(secretCodeController.symbolsCount>50)" ng-show="secretCodeController.symbolsCount<=100"><input type="radio" ng-model="secretCodeController.complexity" value="100">0-100</p></td>
    <div></td>
    <td><h5>{{'operations' | translate}}</h5>
    <div id="operationsChoice" ng-repeat="operation in secretCodeController.operations">
          <p ng-disabled="(secretCodeController.symbolsCount<=1)||(secretCodeController.symbolsCount>50)" ng-show="operation.available"><input type="checkbox" ng-change="secretCodeController.alterOperations()"
            value="{{operation.code}}" ng-model="operation.selected" > {{operation.value}} </p>
          </div>
        </td></tr></table></div></div></div>
        <button ng-click="secretCodeController.createLetterCodes()" ng-disabled="!secretCodeController.generationEnabled">Create secret code!</button>

  </div></td>
<td >
<div id="output" ng-show="secretCodeController.equations.length!==0">
    <div id="secretCodeC"></div>
    <div id="printButtons">
      <button ng-click="secretCodeController.print()">Save</button>
      <button ng-click="secretCodeController.reset()">Reset</button>
    </div>
</div></td></table>
