<div id="input">
  <p>{{'secretCodeDesc' | translate }}</p>
  <p>{{ 'enterMessage' | translate }} <input type="textarea"
    ng-model="secretCodeController.messageStr"
    ng-change="secretCodeController.countSymbols()">
  {{ 'symbolsInStringMessage' | translate }}: {{secretCodeController.symbolsCount}}</p>
  <div id="complexitySettings" ng-show="secretCodeController.symbolsCount>0">
    <h4>{{'availableComplexity'| translate}}</h4>
    <p  ng-show="secretCodeController.symbolsCount<=10"><input type="radio" ng-model="secretCodeController.complexity" value="10">0-10</p>
    <p ng-show="secretCodeController.symbolsCount<=25"><input type="radio"   ng-model="secretCodeController.complexity" value="25">0-25</p>
    <p ng-show="secretCodeController.symbolsCount<=100"><input type="radio"   ng-model="secretCodeController.complexity" value="100">0-100</p>
  </div>
</div>
<div id="output">
</div>
