.numberComplexity {
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.clickable {
    cursor: pointer;
}

.operationsContainer {
    display: flex;
    flex-wrap: wrap;
}

.operationItem {
    flex: 0 0;
    display: flex;
    flex-direction: row;
}

.operationText {
    margin: 0;
    width: 20px;
}
